* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: #1d1d1f;
}
body {
  background-color: #eee;
  color: #1d1d1f;
}
.search-header {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
}
.search-header input {
  width: 350px;
  height: 40px;
  margin-right: 15px;
  padding: 0 15px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.search-header button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #fff;
  background-color: #0099ff;
  vertical-align: bottom;
}
.search-header button:hover {
  background-color: #0088ff;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.site-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
}
.site-list li {
  margin-right: 25px;
  margin-bottom: 25px;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.site-wrapper .favicon {
  font-size: 50px;
}
.site-wrapper .link {
  color: inherit;
}
.add-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
}
.add-wrapper:hover {
  cursor: pointer;
}
.add-wrapper .icon {
  font-size: 50px;
}
.add-wrapper .text {
  margin-top: 12px;
}
@media screen and (max-width: 500px) {
  body {
    padding: 10px;
  }
  .search-header {
    display: block;
    margin: 15px 0 25px;
  }
  .search-header input {
    width: 220px;
    margin: 0;
    padding: 0 10px;
  }
  .search-header button {
    width: 100px;
    margin: 0;
    padding: 0;
    float: right;
  }
  .site-list {
    display: flex;
    justify-content: space-between;
  }
  .site-wrapper {
    width: 156px;
    height: 130px;
  }
  .add-wrapper {
    width: 156px;
    height: 130px;
  }
}
